:root {
  --AzulEscuro: #080E26;
  --AzulIndigo: #1F2350;
  --Lavanda: #DAE7FE;
  --VerdeClaro: #E5FEDE;
  --AmareloClaro: #FEF6DB;
  --preto: #050505; 
  --branco: #fff;

  --borda: 2px solid black;
  --sombra: 0px 8px 0px rgba(0, 0, 0, 0.15);
  --fonte1: 'Mystery Quest', system-ui;
  --fonte2: 'Griffy', cursive;
  --fonte3: 'Spirax', cursive;
  --fonte4: 'Almendra Display', serif;
  --fonteCorpo: 'Poppins', sans-serif;
}

/*-------- Botão de pause --------*/
.btpause {
  grid-column: 4;
  background-color: var(--Lavanda);
  color: #050505;
  border: 3px solid var(--preto);
  border-radius: 15px;
  padding: 5px 5px;
  font-family: var(--fonte1);
  font-size: 25px;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.2s;
  box-shadow: 0 6px 0 var(--preto);
}

.btpause:hover {
  transform: scale(1.05);
  box-shadow: 0 2px 0 var(--preto);
}

.botoesPause {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 30px;
}

/*-------- Botões Gerais --------*/
.bts {
  background-color: var(--AzulEscuro);
  color: var(--AmareloClaro);
  border: var(--borda);
  border-radius: 10px;
  padding: 10px 15px;
  font-family: var(--fonte4);
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 4px 0 var(--preto);
  text-decoration: none;
}

.bts:hover {
  background-color: var(--Lavanda);
  color: var(--preto);
  transform: translateY(3px);
  box-shadow: 0 1px 0 var(--preto);
}

/*-------- Botão de Começar (Com corte no meio) --------*/
.btCorte {
    position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 25px;
  cursor: pointer;
  user-select: none;
}

.textoInvisivel {
  visibility: hidden;
  font-family: var(--fonte1);
  font-size: 32px;
  padding: 12px 40px;
}

.btCorte .metade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: var(--Lavanda);
  color: var(--preto);
  font-family: var(--fonte1);
  font-size: 32px;
  
  border-radius: 25px;
  border: 3px solid var(--preto);
  box-sizing: border-box;
  
  transition: transform 0.4s ease, background-color 0.3s;
}

.btCorte .topo {
  clip-path: inset(0 0 50% 0);
}

.btCorte .baixo {
  clip-path: inset(50% 0 0 0);
}

.btCorte .linhaCostura {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  height: 0;
  border-top: 2px dashed var(--preto);
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity 0.2s ease;
}

.btCorte .tesoura {
  position: absolute;
  top: 50%;
  left: -35px; 
  transform: translateY(-50%) rotate(-90deg);
  font-size: 26px;
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transition: left 0.5s ease-in-out, opacity 0.2s ease;
}

.btCorte:hover .topo {
  transform: translateY(-6px) rotate(-1.5deg);
  background-color: var(--AmareloClaro);
}

.btCorte:hover .baixo {
  transform: translateY(6px) rotate(1.5deg);
  background-color: var(--AmareloClaro);
}

.btCorte:hover .linhaCostura {
  opacity: 0;
}

.btCorte:hover .tesoura {
  left: calc(100% + 10px);
  opacity: 1;
}