/*-------- Textos --------*/
.titulo {
    font-family: var(--fonteMystery);
    color: var(--Lavanda);
    text-align: center;
}

.titulo h2 {
    font-weight: normal;
    font-size: 250%;
}

/*-------- Caixa do Jogador --------*/
.caixaJogador {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10%;

    /*border: 2px red solid;*/
}

/*-------- Formulário --------*/
label {
    font-family: var(--fonteMystery);
    color: var(--branco);

}

input {
    font-family: var(--fonteAlmendra);
    color: var(--branco);
    background-color: var(--AzulEscuro);
    font-size: larger;
}

/*-------- audio --------*/
.menuAudio {
    display: none;
}