/*-------- Área de Jogo --------*/
.areaDeJogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*-------- Tabluleiro --------*/
.tabuleiro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: o;
  position: relative;
  max-width: 400px;
}

.tabuleiro .imgTabuleiro {
  width: 100%;
  height: auto;
  display: block;
}

.grade {
  position: absolute;
  top: 0%;
  left: 1%;
  width: 99%;
  height: 99%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.celula img {
  width: 70%;
  height: auto;
  pointer-events: none;
}

/*-------- Status do Jogo --------*/
.statusJogo {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-family: var(--fonteSpirax);
  gap: 5%;
}

/*-------- Menu do Vencedor --------*/
#mensagemVencedor {
  color: var(--branco);
  font-size: 30px;
  font-family: var(--fonteGriffy);
  margin-bottom: 20px;
  text-align: center;
}