:root {
  --AzulEscuro: #080E26;
  --AzulIndigo: #1F2350;
  --Lavanda: #DAE7FE;
  --VerdeClaro: #E5FEDE;
  --AmareloClaro: #FEF6DB;
  --preto: #050505; 
  --branco: #fff;

  --borda: 2px solid black;
  --sombra: 0px 8px 0px rgba(0, 0, 0, 0.15);
  --fonte1: 'Mystery Quest', system-ui;
  --fonte2: 'Griffy', cursive;
  --fonte3: 'Spirax', cursive;
  --fonte4: 'Almendra Display', serif;
  --fonteCorpo: 'Poppins', sans-serif;
}

/*-------- Área de Jogo --------*/
.areaDeJogo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/*-------- Tabluleiro --------*/
.tabuleiro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: o;
  position: relative;
  max-width: 400px;
}

.tabuleiro .imgTabuleiro {
  width: 100%;
  height: auto;
  display: block;
}

.grade {
  position: absolute;
  top: 0%;
  left: 1%;
  width: 99%;
  height: 99%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.celula {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  /*border: 1px dashed red; /*Para testar a posição das células*/ 
}

.celula img {
  width: 70%;
  height: auto;
  pointer-events: none;
}

.statusJogo {
  display: flex;
  justify-content: center;
  margin: 40px;
  font-family: var(--fonte3);
}

/*-------- Jogadores --------*/
.jogador {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.jogadorAvatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: var(--borda);
  display: flex;
  justify-content: center;
  align-items: center;
}

.jogador1 .jogadorAvatar {
  background-color: var(--AmareloClaro);
}

.jogador2 .jogadorAvatar {
  background-color: var(--VerdeClaro);
}

.jogador img {
  width: 80%;
  height: auto;
}

.jogador .nomeJogador {
  color: var(--branco);
  font-size: 25px;
  /*font-weight: bold;*/
  margin: 2px 0;
  font-family: var(--fonte2);
}

.jogador p {
  color: var(--Lavanda);
  font-size: 20px;
  margin: 0;
  font-family: var(--fonte1);
}

/*-------- Menu de pause --------*/
.menuPause {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);

  display: none;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.containerPause {
  background-color: var(--AzulIndigo);
  border: var(--borda);
  border-radius: 12px;
  padding: 30px;
  text-align: center;
  outline: 2px dashed var(--branco);
  outline-offset: -8px;
}

.containerPause h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: var(--fonte1);
  color: var(--Lavanda);
  font-weight: normal;
  font-size: 40px;
}

